<div class="col-md-7 col-lg-8 overflow-y-auto w-75 p-5" style="margin: 0 auto">
    <h4 class="mb-3 mt-5 mb-5">{{ commande.getPoste() }}</h4>
    <div class="row g-3">
        <div class="col-sm-6">
            <label for="firstName" class="form-label">Buyer</label>
            <input style="margin-bottom: 20px;" type="text" class="form-control" id="firstName" placeholder="{{ commande.getBuyer().getEmail() }}" value="" required="" disabled>
            <input type="text" class="form-control" id="firstName" placeholder="{{ commande.getBuyer().getUsername() }}" value="" required="" disabled>
        </div>

        <div class="col-sm-6">
            <label for="lastName" class="form-label">Freelancer</label>
            <input style="margin-bottom: 20px;" type="text" class="form-control" id="lastName" placeholder="{{ commande.getFreelancer().getEmail() }}" value="" required="" disabled>
            <input type="text" class="form-control" id="firstName" placeholder="{{ commande.getFreelancer().getEmail() }}" value="" required="" disabled>
        </div>

        <div class="col-sm-6">
            <label for="lastName" class="form-label">Create Date</label>
            <input type="text" class="form-control" id="lastName" placeholder="{{ commande.getCreateDate()|date('Y-m-d') }}" value="" required="" disabled>
        </div>

        <div class="col-sm-6">
            <label for="lastName" class="form-label">State</label>
            {% if commande.isState %}
                <input type="text" class="form-control" id="lastName" placeholder="Mission Fini" value="" required="" disabled>
            {% else %}
                <input type="text" class="form-control" id="lastName" placeholder="Mission En cours" value="" required="" disabled>
            {% endif %}

        </div>

        <div class="col-12">
            <label for="email" class="form-label">Poste </label>
            <input type="email" class="form-control" id="email" placeholder="{{ commande.getPoste()}}" disabled>
            <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
            </div>
        </div>
        <div class="col-sm-6">
            <label for="lastName" class="form-label">Date Start</label>
            <input type="text" class="form-control" id="lastName" placeholder="{{ commande.getStartDate()|date('Y-m-d') }}" value="" required="" disabled>
        </div>
        <div class="col-sm-6">
            <label for="lastName" class="form-label">Date End</label>
            <input type="text" class="form-control" id="lastName" placeholder="{{ commande.getEndDate()|date('Y-m-d') }}" value="" required="" disabled>
        </div>
        <div class="col-12">
            <label for="address" class="form-label">Task Duration</label>
            <input type="text" class="form-control" id="address" placeholder="{{ days ~ ' Days' }}" required="" disabled>
        </div>

        <div class="col-12">
            <label for="address2" class="form-label">Price</label>
            <input type="text" class="form-control" id="address2" placeholder="{{ commande.getUnitPrice() ~ ' €'}}" disabled>
        </div>

        <div class="col-12">
            <label for="address2" class="form-label">Price Total</label>
            <input type="text" class="form-control" id="address2" placeholder="{{ commande.getTotalPrice() ~ ' €'}}" disabled>
        </div>

        <div class="col-12">
            <label for="address2" class="form-label">Price Total</label>
            <textarea class="form-control" disabled>{{ commande.getObjet() }}</textarea>
        </div>

        <div class="col-12">
            <label for="address2" class="form-label">Discription</label>
            <textarea class="form-control" disabled>{{ commande.getDiscriptionMission() }}</textarea>
        </div>
        <hr class="my-4">
        <a href="/profile/commandes/delete/{{ commande.getId() }}">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Delete</button>
        </a>
    </div>
</div>