<div class="col-md-9 p-5" style="overflow-y: auto;">
    {{ form_start(registrationForm, {'attr': {'class': 'w-100 h-100 p-3'}}) }}
    <h1 class="h3 mb-3 fw-normal">Mon Profile</h1>
    <div class="form-floating">
        <div class="form-group my-3">
            <label class="form-label required">Email:</label>
            <label class="form-control pt-3 pb-3">{{ user.getEmail() }}</label>
        </div>
        <div class="form-group my-3">
            {{ form_label(registrationForm.Phone, 'Tel', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(registrationForm.Phone, {'attr': {'class': 'form-control pt-3 pb-3','value': user.getPhone()}}) }}
            {{ form_errors(registrationForm.Phone) }}
        </div>
        <div class="form-group my-3">
            {{ form_label(registrationForm.Username, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(registrationForm.Username, {'attr': {'class': 'form-control pt-3 pb-3','value': user.getUsername()}}) }}
            {{ form_errors(registrationForm.Username) }}
        </div>

        <div class="form-group my-3">
            {{ form_label(registrationForm.full_name, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(registrationForm.full_name, {'attr': {'class': 'form-control pt-3 pb-3','value': user.getFullname()}}) }}
            {{ form_errors(registrationForm.full_name) }}
        </div>

        <div class="form-group my-3">
            {{ form_label(registrationForm.location, 'Adresse ', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(registrationForm.location, {'attr': {'class': 'form-control pt-3 pb-3','placeholder': user.getLocation()}}) }}
            {{ form_errors(registrationForm.location) }}
        </div>

        <button type="submit" class="btn btn-primary w-100 py-2">Sauvegarder</button>
    </div>

    {{ form_end(registrationForm) }}
</div>